{
  "plugins": [
    "mocha",
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "particle",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "atom": true
  },
  "rules": {
    "no-var": 2
  }
}
