@import "octicon-mixins";
@import "ui-variables";
@import "variables";

.library-card {
	padding: @component-padding*1.5;
	margin-bottom: @component-padding;
	list-style-type: none;
	font-size: 1.2em;
	border-radius: @component-border-radius*2;
	border: 1px solid @base-border-color;
	background-color: @package-card-background-color;
	overflow: hidden;
	cursor: pointer;
	-webkit-user-select: none;

	&:hover {
		background-color: contrast(@package-card-background-color, darken(@package-card-background-color, 2%), lighten(@package-card-background-color, 2%));
	}
	&:active {
		background-color: @package-card-background-color;
	}

	.card-name {
		font-weight: 300;
		margin: 0 0 .2em 0;
		font-size: 1.2em;
		line-height: 1.4;

		.css-truncate-target {
			color: $greenDark;
		}
	}

	.library-name {
		font-weight: bolder;
		color: @text-color-highlight;
	}

	.library-verified {
		background-color: @text-color-info;
		margin-left: @component-padding;
		-webkit-mask: url(atom://particle-dev-libraries/resources/verified.svg) center / contain no-repeat;
		display: inline-block;
		width: 14px;
		height: 14px;
	}

	.library-private {
		margin-left: @component-padding;
		vertical-align: text-bottom;

		&::before {
			font-size: 14px;
		}
	}

	.library-official {
		margin-left: @component-padding;
		width: 16px;
	}

	.meta {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		width: 100%;

		.meta-user {
			flex: 1 0 auto;
			margin-top: @component-padding;
			margin-right: @component-padding;

			.author {
				color: @text-color-subtle;
				&:focus {
					outline: none;
				}
			}
		}

		.meta-controls {
			#view-sources.is-downloading {
				opacity: 1; // override disabled style
				background-image: linear-gradient(to right, transparent 50%, hsla(0,0%,0%,.15) 50%);
				background-size: 10px 100%;
				-webkit-animation: has-activity .5s linear infinite;
			}

			.status-indicator {
				padding: 0;
				width: @component-padding/2;
				min-width: 4px;
				pointer-events: none;
				transition: background .4s;
				background: @background-color-success;
				&.is-disabled {
					background: @background-color-warning;
				}
			}

			.btn-toolbar > .btn-group {
				float: left;
				margin: @component-padding/2 0 0 @component-padding/2;
			}
		}
	}
}

@-webkit-keyframes has-activity {
	100% { background-position: -10px 0px; }
}
