@import "variables";

#library-init-view.@{package-name} {
  .btn {
    margin-right: 10px;
  }

  a {
    line-height: 27px;
  }
}

#libraries-panel {
  overflow: auto;

  h2 {
    padding-left: 40px;
  }
}
